<html>
<body>
  <div>
    <p style='color:black'>아래의 링크는 1시간 후에 만료됩니다.</p>
    <a href='<%= clientAddr %>/<%= endPoint %>?authCode=<%= authCode %>'>이곳을 눌러 <%= action %>을 완료해주세요</a>
  </div>
</body>
</html>